<style>
    .auth .brand-logo img {
        margin-left: 35%
    }
</style>
<script src="~/js/jquery-3.6.0.min.js"></script>
<link href="~/css/toastr.min.css" rel="stylesheet" />
<script src="~/js/toastr.min.js"></script>

<script src="~/script/Registration.js?V=0.01"></script>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <div class="brand-logo">
                            <img src="~/images/live polling.png" alt="logo" />
                        </div>
                        <h4 class="text-center">Welcome to Live Polling App</h4>
                        <h6 class="fw-light text-center">Signing up is easy. It only takes a few steps</h6>
                        <form class="pt-3">
                            <div class="form-group" data-select2-id="7">
                                <select class="form-select" data-select2-id="1" tabindex="-1" aria-hidden="true" id="ddlRole">
                                    <option value="0" data-select2-id="3">Select Role</option>
                                    <option value="1" data-select2-id="12">Admin</option>
                                    <option value="2" data-select2-id="13">Candidate</option>
                                    <option value="3" data-select2-id="14">User</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-lg" id="txtUserName" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-lg" id="txtEmail" placeholder="Email">
                            </div> 
                            <div class="form-group">
                                <input type="password" class="form-control form-control-lg" id="txtPassword" placeholder="Password">
                            </div> <div class="form-group">
                                <input type="password" class="form-control form-control-lg" id="txtConfirmPassword" placeholder="Confirm Password">
                            </div>
                           @*  <div class="mb-4">
                                <div class="form-check">
                                    <label class="form-check-label text-muted">
                                        <input type="checkbox" class="form-check-input"> I agree to all Terms & Conditions
                                    </label>
                                </div>
                            </div> *@
                            <div class="mt-3 d-grid gap-2">
                                <a class="btn btn-block btn-primary btn-lg fw-medium auth-form-btn" href="#" id="SignUp">SIGN UP</a>
                            </div>
                            <div class="text-center mt-4 fw-light">
                                @* Already have an account? <a href="Login" class="text-primary">Login</a> *@
                                Already have an account? <a asp-controller="Home" asp-action="Login" class="text-primary">Login</a>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>