
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CandidateLayout.cshtml";
}
<div class="row flex-grow">
    <div class="col-12 grid-margin stretch-card">
        <div class="card card-rounded">
            <div class="card-body">
                <div class="d-sm-flex justify-content-between align-items-start">
                    <div>
                        <h4 class="card-title card-title-dash">Vote Count of all candidates</h4>
                    </div>
                </div>
                <div class="table-responsive  mt-1">
                    <table class="table select-table">
                        <thead>
                            <tr>
                                <th>Candidate</th>
                                <th>Vote Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex ">
                                        <img src="~/images/faces//face1.jpg" alt="">
                                        <div>
                                            <h6>Brandon Washington</h6>
                                            <p>Head admin</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span>444</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
